[Unit]
Description=Schedule GoodGood staging PostgreSQL backup

[Timer]
OnCalendar=*-*-* 18:17:00 UTC
RandomizedDelaySec=20m
Persistent=true
AccuracySec=1m
Unit=goodgood-postgres-backup.service

[Install]
WantedBy=timers.target
